<section class="skill-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Skill Text Block -->
                <div class="skill-text">
                    <div class="section-title mb-40 left-border">
                        <span class="title-tag">Notre application s'atèle egalement sur les éléments ci-contre</span>
                    </div>
                    <a routerLink="/about" class="main-btn">Lire Plus</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="piechart-boxes">
                    <div class="chart-box">
                        <div class="chart" data-percent="100">
                            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-presentation"></i>
                        </div>
                        <h4 class="title">Notifications</h4>
                    </div>
                    <div class="chart-box">
                        <div class="chart" data-percent="100">
                            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-connector"></i>
                        </div>
                        <h4 class="title">Actualités pour l’école, le groupe et la classe</h4>
                    </div>
                    <div class="chart-box">
                        <div class="chart" data-percent="100">
                            <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="30"
                                [innerStrokeWidth]="20" [outerStrokeColor]="'#ff4a17'" [innerStrokeColor]="'#e8e8e8'"
                                [animation]="true" [space]="-25" [outerStrokeLinecap]="'butt'" [animationDuration]="300"
                                [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [responsive]="true">
                            </circle-progress>
                            <i class="flaticon-connector"></i>
                        </div>
                        <h4 class="title">Un messagerie securisé</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
