<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">A propos de nous</span>
                        <h2 class="title">Secoundo </h2>
                    </div>
                    <p class="mb-25">
                      Nous aspirons à devenir l’acteur incontournable de l’inclusion numérique dans l’enseignement. Depuis la crise du Covid, par nos actions, nous encourageons et accompagnons les établissements scolaires à découvrir des solutions numériques transparentes et sécurisées.
                      Convaincus que l’utilisation d’outils adéquats dans les écoles peut faire la différence, nous serons heureux, lors d’une séance au sein de votre établissement, de vous présenter toutes les possibilités de secoundo.
                      Alors rejoignez-nous
                      
                    </p>
                    <!-- <p>
                        Nous offrons à vos enfants, la meilleure partie du numérique
                    </p>
                    <ul class="about-list">
                        <li *ngFor="let item of list"> <i class="far fa-check"></i> {{item.text}}</li>
                    </ul>
                    <a routerLink="/about" class="main-btn">Apprendre plus</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
