<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">A propos de nous</span>
                        <h2 class="title">Secoundo</h2>
                    </div>
                    <p class="mb-25">
                      Secoundo est une firme Belgo Congolais à vocation pédagogique, orienté à la numérisation du
                      secteur de l’enseignement
                    </p>
                    <p class="mb-25">
                      Nous estimons que certaines tâches manuelles peuvent être exécutées par voie numérique. Grâce à des outils
                      simple, efficace et performant que nous avons mis en place dans un système restant confidentiel pour la gestion
                      de compte et l’archivage pour permettre à ce que les tâches des administratifs puissent se faire dans le temps enfin
                      de faciliter la tâche aux gestionnaires.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
