<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center" id="about">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">Apropos de nous</span>
                        <h2 class="title">Secoundo<br>Entrevoir le numérique autrement</h2>
                    </div>
                    <p class="mb-25">
                      Pour une inclusion numérique saine et sécurisé, Secoundo est l'outil le plus adapté pour votre
                      école. Découvrez avec nous la technologie inédite du « Journal de classe Numérique » un concept
                      intégrant la communication et l’administration en ligne.
                    </p>
                    <p>
                        Adoptez une vie numéruque seine avec secoundo
                    </p>
                    <!-- <ul class="about-list">
                        <li> <i class="far fa-check"></i> Business & Consultez-nous  Agency</li>
                        <li> <i class="far fa-check"></i> Awards Winning Business Comapny</li>
                    </ul> -->
                    <a routerLink="/about" class="main-btn">Lire Pus</a>
                </div>
            </div>
        </div>
    </div>
</section>
