<section class="about-section about-illustration-img section-gap">
    <div class="container">
        <div class="illustration-img">
            <img src="assets/img/illustration/01.png" alt="img">
        </div>
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-text">
                    <div class="section-title left-border mb-15">
                        <span class="title-tag">Apropos de nous</span>
                    </div>
                    <p class="mb-25"> Secoundo est une firme Belgo Congolais à vocation pédagogique,
                       orienté à la numérisation du secteur de l’enseignement
                    </p>
                    <p class="mb-25">
                      Pour une inclusion du numérique saine et sécurisée,
                      secoundo est la plateforme idéale pour vos écoles.
                       Découvrez la technologie inédite du journal de classe numérique;
                        la bibliothèque numérique ; l’archivage numérique ;
                        la gestion de compte numérique et les cours en ligne.
                        Un concept intégrant la communication et l’administration en ligne
                    </p>
                    <a routerLink="/contact" class="main-btn">Adoptez une vie numéruque seine </a>
                </div>
            </div>
        </div>
    </div>
</section>
