<!-- about Widget -->
<div class="widget about-widget">
    <div class="logo mb-30">
        <img src="assets/img/logo-3.png" alt="img">
    </div>
    <p>Le pouvoir de choisir est sans entrave & lorsque rien ne nous empêche de pouvoir</p>
</div>
<!-- Contact information Widget -->
<div class="widget contact-info-widget">
  <h4 class="widget-title">Contactez-nous</h4>
  <p>Sans entrave & rien n'êmpeche notre capacité de vous satisfaire</p>
    <ul>
        <li>
            <i class="far fa-phone"></i>
            +32486923148
        </li>
        <li>
            <i class="far fa-envelope-open"></i>
            longayo.russell2@gmail.com
        </li>
    </ul>
</div>
<!-- tweets Widget -->
<!-- <div class="widget tweets-widget">
    <h5 class="widget-title">Recent tweets</h5>
    <ul>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
                <span>@username:</span> Sedut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium...
            </a>
        </li>
    </ul>
</div> -->
<!-- Social Link -->
<!-- <div class="widget social-link">
    <h5 class="widget-title">Follow us</h5>
    <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-behance"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-google"></i></a></li>
    </ul>
</div> -->
