<div class="container">
    <div class="-wrap bg-img-c" style="background-image: url(assets/img/lines/16.png);">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="-content text-center">
                    <div class="section-title both-border mb-30">
                        <span class="title-tag">Faites partie d'une plus grande cause</span>
                        <h2 class="title">Contactez-nous pour accomplir cette oeuvre laborieuse</h2>
                    </div>
                    <a routerLink="/contact" class="main-btn main-btn-3">Faites un don</a>
                </div>
            </div>
        </div>
    </div>
</div>
