<section class="contact-section boxed-style-with-map">
    <div class="container">
        <div class="contact-inner mt-negative grey-bg">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60975.5149935516!2d-73.99735520603153!3d40.7015706118682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1598633530051!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <div class="section-title left-border mb-30">
                            <span class="title-tag">Laissez-nous un message</span>
                            <h2 class="title">N'hésitez pas, contactez-nous</h2>
                        </div>
                        <form (submit)="sendEmail($event)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Votre nom complet" name="from_name" required>
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Votre adress mail" name="to_email" required>
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group select mb-30">
                                        <select name="to_subject" required>
                                            <option value="subject" selected>Sujet</option>
                                            <option value="Creative Idea">Journal electronique</option>
                                            <option value="Relationship">Administration</option>
                                            <option value="Business Strategy">Statistique</option>
                                            <option value="Productivity">Carnet des notes</option>
                                            <option value="It Solutions">Communication/option>
                                            <!-- <option value="Product Design">Product Design</option> -->
                                        </select>
                                        <span class="icon"><i class="far fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                        <textarea placeholder="Ecrivez votre message ici" name="message_html"></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="main-btn">Envoyez votre message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
