<section class="video-section-two bg-img-c" style="background-image: url(assets/img/video-bg/video-2.jpg);">
    <div class="container">
        <div class="row align-content-center justify-content-center">
            <div class="col-lg-10">
                <div class="video-cont text-center">
                  <iframe width="853" height="480"
                  src="https://www.youtube.com/embed/TaFJWqt8_9o"
                  title="secoundo: introduction" frameborder="0"
                   allow="accelerometer; autoplay; clipboard-write;
                   encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                    <h2>
                       Apprenez-en plus sur nous, regardez cette vidéo
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="line-shape-one">
        <img src="assets/img/lines/12.png" alt="Line">
    </div>
    <div class="line-shape-two">
        <img src="assets/img/lines/11.png" alt="Line">
    </div>
</section>
