<section class="about-section-three section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 order-2 order-lg-1">
                <div class="about-text-three">
                    <div class="section-title left-border mb-40">
                        <span class="title-tag">Apropos de nous</span>
                        <h2 class="title">Professional Business <br> Guidance Agency </h2>
                    </div>
                    <p class="mb-25">
                        Sedut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <p>
                        Doloremque laudantium, totam raperiaeaque ipsa quae ab illo inventore veritatis et quasi
                    </p>
                    <ul class="about-list">
                        <li *ngFor="let item of list"> <i class="far fa-check"></i> {{item.text}}</li>
                    </ul>
                    <a routerLink="/about" class="main-btn main-btn-4">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 order-1 order-lg-2">
                <div class="about-tile-gallery">
                    <img src="assets/img/video-bg/poster-3.jpg" alt="Image" class="image-one wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="400ms">
                    <img src="assets/img/video-bg/poster-2.jpg" alt="Image" class="image-two wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="600ms">
                </div>
            </div>
        </div>
    </div>
</section>
