<section class="video-section bg-img-c section-gap" style="background-image: url(assets/img/video-bg/video-1.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
                <div class="video-text">
                    <div class="section-title left-border mb-30">
                        <span class="title-tag">Regardez la vidéo</span>
                        <h2 class="title">
                            Une vidéo exclusive <br> à propos de Secoundo
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-8 col-md-2 order-1 order-md-2">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/TaFJWqt8_9o"
                title="secoundo: introduction" frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="line-shape">
        <img src="assets/img/lines/08.png" alt="line">
    </div>
</section>
